
body{
    background-color: lightsalmon;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.button-group{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}
button{
    padding: 12px;
}

form {
    padding: 45px;
    border: 1px solid black;
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color: #3498db;
    max-width: 35%;
   

}

@media (min-width: 1000px)  {
    

    input {
        float: right;




      }
      
    label{
        float: left;
    }

}


@media (max-width: 980px)  {
    form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    input {

            flex-wrap:wrap;
            display: flex;

      }
      
    label{
        display: flex;

    }

}