
body{
    background-color: lightsalmon;
}

input {
  text-align:left;
  width: 200px;
  display: auto;
  float: right;
  font-size: 15px;
  height: 25px;
}

section {
    display: relative;
    padding: 20px;
    width: auto;
    margin: auto;
}

button {
    position:relative;
    transition: .5s ease;
    top: 10px;
    left: 100px;
    font-size: 18px;
    
}

form {
    width: 30%;
    margin: 0 auto;
    font-size: 20px;
}


